@charset "utf-8";
@import url('reset.css');


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Bold.eot');
    src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --fontSize-lg1: 32px;
    --fontSize-lg2: 24px;
    --fontSize-lg3: 20px;
    --fontSize-md1: 16px;
    --fontSize-md2: 14px;
    --fontSize-s1: 12px;

    --swiper-navigation-size: 16px;
    --swiper-theme-color: #000;
}




body {
    font-family: Pretendard;
    font-size: var(--fontSize-md2);
    font-weight: 500;
    color: #333;
}

section {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.inner {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto 30px auto;

}


button,
li,
.graylike,
.redlike,
u {
    cursor: pointer;
}

.redlike {
    display: none;
}



.graylike {
    display: inline;
}


/* main 공통 */
.guest-word {
    display: flex;
    flex-wrap: wrap;
}

/* swiper 공통*/
.inner.main {
    position: relative;
    max-width: 1200px;
    width: calc(100% - 40px);
}

.swiper {
    position: static;

}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    z-index: 10000;
    border: 1px solid #f5f5f5;
    transition: transform 0.4s ease, box-shadow 0.3s ease;

}

.swiper-button-prev {
    margin: 0;
}

.swiper-button-next {
    right: -20px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.swiper.section02 .swiper-button-prev,
.swiper.section02 .swiper-button-next {
    top: 45.84%;
}


.swiper.section03 .swiper-button-prev,
.swiper.section03 .swiper-button-next {
    top: 37.10%;
}

.swiper.section04 .swiper-button-prev,
.swiper.section04 .swiper-button-next {
    top: 45.04%;
}

.swiper.section05 .swiper-button-prev,
.swiper.section05 .swiper-button-next {
    top: 56.41%;
}

.tabList:hover,
.tabList2:hover,
.tabList3:hover,
.btn button:hover {
    background-color: #f5f5f5;
}

/* 섹션 제목 */
.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;

}

.title-section a {
    color: #F7323F;
    font-size: var(--fontSize-md2);
}

/* 메인 섹션 호텔 사진 */
.swiper-slide .content-image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;

}

.swiper-slide .content-image .hotel-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.swiper-slide .content-image .redlike,
.swiper-slide .content-image .graylike {
    position: absolute;
    transition: all 0.4s;
}

.swiper-slide .content-image .redlike:hover,
.swiper-slide .content-image .graylike:hover {
    transform: scale(1.2);
}



/* 클래스 .hotels 공통 조건 */
.hotels .swiper-wrapper {
    display: flex;
    justify-content: space-between;
}

.hotels .swiper-wrapper .swiper-slide {
    width: 23.5%;

}

.hotels .swiper-wrapper .swiper-slide .content-image {
    border-radius: 12px;
}

.hotels .swiper-slide .content-image .redlike,
.hotels .swiper-slide .content-image .graylike {
    top: 16px;
    right: 16px;
}

/* .hotels text 섹션 */
.text {
    width: 100%;
    min-height: 115px;
}

.hotels .swiper-wrapper .swiper-slide .text .hotel-name-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hotels .swiper-wrapper .swiper-slide .text .price-section {
    margin-top: 16px;
}

.hotels .swiper-wrapper .swiper-slide .text .price-section strong {
    font-size: 18px;
    font-weight: 700;
}

.hotels .swiper-wrapper .swiper-slide .text .price-section strong s {
    margin-right: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #F7323F;
}

/* 평점 */
.rate {
    width: 42px;
    background-color: #1d8bff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 8px;
    padding: 4px 0;
    margin-left: auto;
    margin-bottom: 6px;
}

.rate b {
    font-weight: 500;
    color: #fff;
    font-size: var(--fontSize-s1);
}


/* tab  */
.tab {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
}

.tabList {
    display: inline-block;
    flex-shrink: 0;
}

.hotels.popular .inner.main .tab-section .tab {
    width: 100%;
    height: 40px;
    position: relative;

}

.hotels.popular .inner.main .tab-btn-down {
    z-index: 40;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    box-shadow: 2px 2px 10px #00000034;
    right: 30px;
    display: none;
}

.hotels.popular .inner.main .tab-btn-down:hover {
    box-shadow: 2px 2px 10px #1D8BFF;

}

.hotels.popular .inner.main .tab-btn-down button {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    line-height: 100%;
}

.hotels.popular .inner.main .tab-btn-down button img {

    object-fit: cover;
}

.tab li {
    font-size: var(--fontSize-md2);
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #ebebeb;
}

.tab li.active {

    background-color: #1d8bff;
    color: #fff;
    font-weight: 600;
}


/* 글자 공통 설정 */
p,
strong,
b,
span,
s {
    word-break: keep-all;
}

.lg2 {
    font-size: var(--fontSize-lg2);
    font-weight: 700;
}

.s1 {
    font-weight: 400;
    color: #999;

}



.s2 {
    font-size: var(--fontSize-s1);
    font-weight: 400;
    color: #999;

}

.link-list li a,
.option-btn button,
.md2-bold-gray {
    display: block;
    font-size: var(--fontSize-md2);
    font-weight: 600;
    color: #707070;
}


.link-list li a {
    font-weight: 500;
}


h4.title {
    padding: 16px 0;
    font-weight: 700;
    font-size: 20px;
}


.location,
.review {
    font-weight: 500;
    color: #707070;
    font-size: var(--fontSize-md2);
}

/* header */
.header .inner {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-direction: row;
    margin-bottom: 0;
}

.inner .logo {
    width: 105px;
    height: 18px;
}

.inner .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.inner .logo a img {
    width: 100%;
    object-fit: cover;
}

.inner .top-bar-section {
    display: flex;
    gap: 8px;
    position: relative;

}

.inner .top-bar-section .btn {
    width: 128px;
    height: 40px;
    border-radius: 8px;

}


.inner .top-bar-section .btn.login:hover {
    background-color: #1d8aff2a;
}

.inner .top-bar-section .btn.util:hover,
.inner .top-bar-section .menu-btn:hover {
    background-color: #f5f5f5;
    border-radius: 8px;
}

.inner .top-bar-section button strong {
    font-weight: 500;
}

.inner .top-bar-section .btn.util {
    border: 1px solid #ebebeb;
}

.inner .top-bar-section .util-btn strong {}

.inner .top-bar-section .btn.login {
    border: 1px solid #1d8bff;
    color: #1d8bff;
}

.inner .top-bar-section .menu-btn {
    width: 40px;
    height: 40px;
    padding: 0;
}



.inner .top-bar-section .menu-btn img {}

.inner .top-bar-section .nav {
    width: 270px;
    height: 682px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 5000;
    background-color: #fff;
    border-radius: 8px;
    display: none;
}

.inner .top-bar-section .nav.active {
    display: block;
}

.inner .top-bar-section .gnb {}

.inner .top-bar-section .gnb li {
    padding: 12px 16px;
}

.inner .top-bar-section .gnb li a {
    display: block;
}


.inner .top-bar-section .gnb .line1 {

    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inner .top-bar-section .gnb a.login {
    width: 100%;
    height: 40px;
    padding: 0;
    border-radius: 8px;
    background-color: #1d8bff;
    line-height: 40px;
    text-align: center;
    font-weight: 700px;
    color: white;
}

.inner .top-bar-section .gnb a.banner {
    height: 48px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
}

.inner .top-bar-section .gnb a img {
    width: 100%;


}

.inner .top-bar-section .gnb .check {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.inner .top-bar-section .gnb .title {
    font-size: var(--fontSize-s1);
    color: #707070;
    font-weight: 600;
    padding-bottom: 4px;
}

.inner .top-bar-section .gnb .btm_line {
    border-bottom: 1px solid #f5f5f5;

}

/* main */
.main {
    width: 100%;
    margin: 0 auto;
}


.main-visual {
    width: 100vw;
    height: 600px;
    margin: 0;
    position: relative;

}

.main-visual .main-visual-image {
    height: 100%;
}

.main-visual .main-visual-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(60%);

}

.main-visual .main-visual-text {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translatex(-50%);
}

.main-visual .main-visual-text h3 p {
    font-size: var(--fontSize-lg2);
    font-weight: 500;
    margin-bottom: -8px;
}

.main-visual .main-visual-text h3 {
    font-size: var(--fontSize-lg1);
    margin-bottom: 60px;
    font-weight: bold;
    color: #fff;
}

.main-visual .main-visual-text .search-section {
    padding: 40px 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3000;
    background-color: #fff;

}

.main-visual .main-visual-text .search-section .search-category {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.18%;
    border: 1px solid #f5f5f5;
    border-radius: 12px;
    background-color: #fff;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 24px;
    box-shadow: 3px 3px 10px #00000015;

}

.main-visual .main-visual-text .search-section .search-category .category-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.main-visual .main-visual-text .search-section .search-category .category-item.active {
    border-bottom: 3px solid #F7323F;
}


.main-visual .main-visual-text .search-section .search-category .category-item img {
    width: 20px;
    object-fit: contain;

}

.category-item .red {
    display: none;
}

.category-item.active .red {
    display: inline;
}

.category-item .gray {
    display: inline;
}

.category-item.active .gray {
    display: none;
}

.main-visual .main-visual-text .search-section .search-category .category-item:last-child img {
    width: 28px;

}

.main-visual .main-visual-text .search-section .search-category .category {

    color: #707070;

}

.main-visual .main-visual-text .search-section .search-category .category.active {

    color: #F7323F;
}

.main-visual .main-visual-text .search-section .text {}

.main-visual .main-visual-text .search-section .text .option-btn {}

.main-visual .main-visual-text .search-section .text .option button {
    display: inline;
    min-height: 36px;
    border: 1px solid #a3a2a2;
    border-radius: 8px;
    padding: 0 16px;
    background-color: #fff;
}

.main-visual .main-visual-text .search-section .text button.active {
    color: #ffffff;
    border: none;
    background-color: #F7323F;
}




.main-visual .main-visual-text .search-section .text {
    width: 100%;

}

.main-visual .main-visual-text .search-section .text .search-input {

    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

}

.main-visual .main-visual-text .search-section .text .search-input .input-box {
    height: 48px;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    padding-left: 16px;
    margin-bottom: 12px;


}

.main-visual .main-visual-text .search-section .text .search-input .input-box:hover {
    background-color: #f5f5f5;
}

.main-visual .main-visual-text .search-section .text .search-input .input-box input {
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 16px;
}



.main-visual .main-visual-text .search-section .text .search-input .row2 {
    display: flex;
    justify-content: space-between;

}

.main-visual .main-visual-text .search-section .text .search-input .row2 .input-box {
    width: 32.58%;
}

.main-visual .main-visual-text .search-section .text .search-input .row2 .input-box.person span {
    white-space: nowrap;
}

.main-visual .main-visual-text .search-section .text .search-input .row2 .input-box.check img {
    height: 22px;
}

.main-visual .main-visual-text .search-section .text .search-input .input.keyword {}

.dropdown-keyword {
    max-width: calc(1200px - 40px);
    margin: 0 auto;
    display: none;
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 3500;
    border-radius: 8px;
}

.dropdown-keyword.active {
    display: block;
}

.dropdown-keyword .city {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.dropdown-keyword .city .list {
    width: 30.22%;
}

.dropdown-keyword .city h5 {
    padding: 8px 16px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    border-radius: 8px;
}

.dropdown-keyword .city button.item {
    width: 100%;
    height: 85px;
    display: flex;

    align-items: flex-start;


}

.dropdown-keyword .city button.item .image {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-keyword .city button.item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-keyword .city button.item .text {
    margin-left: 8px;
    text-align: left;
}

.dropdown-keyword .city button.item .text b {}

.dropdown-keyword .city button.item .text .num {
    color: #707070;


}

.dropdown-keyword .city button.item .text p {
    margin-top: 4px;
    color: #707070;

}

.dropdown-keyword .city button.item .text p span {
    color: #1D8BFF;
    font-weight: 700;
}


.dropdown-keyword.active {
    display: block;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.overlay.active {
    display: block;

}


.main-visual .main-visual-text {

    position: absolute;
    z-index: 100;
}

.main-visual .main-visual-text .search-section {}

.main-visual .main-visual-text .search-section .text .search-btn {
    width: 15%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 8px;
    background-color: #F7323F;
    color: white;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.main-visual .main-visual-text .search-section .text .search-btn:hover {

    background-color: #e22e3a;

}

.main-visual .main-visual-text .search-section .text .flight {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 4px;
}

.main-visual .main-visual-text .search-section .text .flight img {
    width: 20px;
}

.main-visual .main-visual-text .search-section .text .flight p {
    color: #1D8BFF;
    font-weight: 700;

}

.recent-search-link {
    width: 524px;
    height: 80px;
    margin: 20px auto;
    padding: 16px 32px;
    border: 1px solid #f5f5f5;
    box-shadow: 2px 2px 10px #00000050;
    border-radius: 8px;
}

.recent-search-link .content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}

.recent-search-link .text {
    width: 100%;
    height: auto;
    display: flex;
    gap: 12px;
    margin-right: auto;


}

.recent-search-link .text .detail {
    color: #999;
    display: flex;
    gap: 8px;
}

.recent-search-link .text strong {
    font-weight: bold;
}




.recent-search-link a {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #999;
    border-radius: 50%;

}

.recent-search-link a>img {
    display: block;
    width: 8px;
    height: 100%;
    margin: 0 auto;


}


.recent-search-link .image {
    width: 100%;
    height: 100%;
    margin-left: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.recent-search-link .image img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 5.24%;
    border: 2px solid white;
    border-radius: 12px;
    transform-origin: center center;
}

.recent-search-link .image img.left {
    transform: rotate(-15deg);
    right: 6.11%;
}

.recent-search-link .image img.main {
    z-index: 3;


}

.recent-search-link .image img.right {
    transform: rotate(15deg);
    right: 4.36%;
}



element.style {
    width: 382px !important;
}

.event .title-section {}

.event {
    position: relative;
}

.event .swiper {
    position: static;
}

.event .swiper-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.event .swiper-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 32% !important;
    height: 39.84%;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    gap: 8px;
    border-radius: 12px;
    overflow: hidden;
}



.event .swiper-wrapper .swiper-slide .text {
    width: 50%;
    height: 100%;
    padding-left: 16px;

}

.event .swiper-wrapper .swiper-slide .text .mobile {
    display: none;
}


.event .swiper-wrapper .swiper-slide .text p {
    width: 100%;
}

.event .swiper-wrapper .swiper-slide .text p.event-detail {}

.event .swiper-wrapper .swiper-slide .text strong {

    font-size: 36px;

}

.event .swiper-wrapper .swiper-slide:nth-child(3) .text strong {
    font-size: 32px;
}

.event .swiper-wrapper .swiper-slide .image {
    width: 47.12%;
    height: 130px;

}

.event .swiper-wrapper .swiper-slide .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recent-search .inner .swiper-wrapper {
    display: flex;
    justify-content: space-between;
}

.recent-search .swiper-wrapper .swiper-slide {
    width: 18.91%;
}

.recent-search .swiper-slide .content-image {
    width: 100%;
    border-radius: 8px;
}



.recent-search .swiper-slide .content-image .redlike,
.recent-search .swiper-slide .content-image .graylike {
    top: 8px;
    right: 8px;
}


.recent-search .swiper-slide .text {
    display: flex;
    justify-content: space-between;
}

.recent-search .swiper-slide .text .text-left {}

.recent-search .swiper-slide .text .text-left strong {
    display: block;


}

.recent-search .swiper-slide .text .text-left p {
    margin-bottom: 8px;
}



.recent-search .swiper-slide .text .text-right {}

.hotels {}



.ad-membership {
    padding-top: 20px;
}

.ad-membership .inner {
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEBFF;
    padding-left: 24px;
    border-radius: 8px;


}

.ad-membership .inner .text {}


.ad-membership .inner .text p {}

.ad-membership .inner .text .ad-cta-btn {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 20px;
    font-size: var(--fontSize-md2);

}

.ad-membership .inner .text .ad-cta-btn a {
    display: block;
    width: 128px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    background-color: #1d8bff;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.ad-membership .inner .text .ad-cta-btn span {
    color: #1d8bff;

}

.ad-membership .inner .image {

    width: 270px;
    overflow: hidden;

}

.ad-membership .inner .image img {
    width: 100%;
    object-fit: cover;
}

.black-pick .title-section {
    display: block;

}

.black-pick .title-section h4 p {
    color: #707070;
    margin-top: 8px;
    font-size: var(--fontSize-md2);
    font-weight: 500;
}

.black-pick .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-pick .swiper-wrapper .swiper-slide {
    width: 23.5%;
    position: relative;
}

.black-pick .swiper-wrapper .swiper-slide .image {
    width: 100%;
    aspect-ratio: 12 / 16;
    overflow: hidden;
    border-radius: 12px;

}

.black-pick .swiper-wrapper .swiper-slide .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.black-pick .swiper-wrapper .swiper-slide .text {
    color: #fff;
    position: absolute;
    left: 8.16%;
    bottom: 32px;
    width: 100%;

}

.black-pick .swiper-wrapper .swiper-slide .text p {
    font-size: var(--fontSize-md2);

}

.black-pick .swiper-wrapper .swiper-slide .text .lg3 {
    font-size: var(--fontSize-lg3);
    margin-bottom: -8px;
}

.ad-app-download {
    max-width: 1200px;
    width: calc(100% - 40px);
    height: 366px;
    margin: 0 auto;
    position: relative;
}

.ad-app-download .inner {
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;


}

.ad-app-download .image {
    width: 100%;
    height: 100%;
}

.ad-app-download .image img {
    width: 100%;
    object-fit: cover;
}

.ad-app-download .text {
    position: absolute;
    top: 50%;
    left: 3.02%;
    transform: translateY(-50%);
}

.ad-app-download .text strong {
    line-height: 1.3;
}

.ad-app-download .text strong p {
    color: #F7323F;
    margin-bottom: 10px;
}


.ad-app-download .text p {
    margin-bottom: 10px;
}

.ad-app-download .text img {
    display: block;
}

.ad-app-download .text .btn-app-download {
    width: 160px;
    height: 48px;
    background-color: #F7323F;
    border-radius: 8px;
    display: none;
}

.ad-app-download .text .btn-app-download button {
    width: 100%;
    line-height: 48px;
    color: white;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;

}

.site-links {
    margin-bottom: 96px;
}


.site-links .inner .link-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2%;
}

.site-links .inner .link-list li {
    width: 15%;
    height: 32px;
    padding: 8px 0;

}


.site-links .see-more {
    padding: 0;
    margin-top: 20px;
    display: flex;
    gap: 4px;
}


footer.footer {
    background-color: #f5f5f59c;
}

footer .inner {
    padding: 40px 0 64px;


}

.footer-nav {

    display: flex;
    justify-content: space-between;


}

.footer-nav .cs-center {
    width: 32%;
}

.footer-nav .cs-center h4.title {
    padding-top: 0;
    color: #707070;
}

.footer-nav .cs-center p {
    font-weight: 500;
}

.footer-nav .cs-center .btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

}

.footer-nav .cs-center .btn button {
    width: 142px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}

.footer-nav .cs-center .btn button img {
    width: 20px;
    height: 20px;
}

.footer-nav .cs-center .btn button p {

    font-weight: 600;

}

.footer-nav .link-list {
    width: 66%;
    display: flex;

}

.footer-nav .link-list div {
    display: flex;
    width: 100%;
}

.footer-nav .link-list ul {
    width: 100%;

}

.footer-nav .link-list ul p {
    font-weight: 700;
    color: #707070;
    margin-bottom: 16px;
    font-size: var(--fontSize-md1);
}


.footer-nav .link-list li a {
    display: block;
    margin-bottom: 10px;
}

.footer-nav .link-list li:last-child a {
    margin-bottom: 0;
}

.info-wrap {
    margin-top: 16px;
}

.info-wrap .company-info {
    margin-top: 20px;
}

.info-wrap .company-info ul {}

.info-wrap .company-info ul li {}

.info-wrap .legal-info {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.info-wrap .legal-info .text {}

.info-wrap .legal-info .text ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.info-wrap .legal-info .text ul li {}

.info-wrap .legal-info .text ul li:nth-child(2) {
    color: #333;
}

.info-wrap .legal-info .sns {
    width: 44px;
    display: flex;
    justify-content: space-between;
}

.info-wrap .legal-info .sns a {}

.info-wrap .legal-info .sns a img {}

.info-wrap .copyright {
    margin-top: 32px;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}


@media screen and (max-width: 1096px) {

    .inner.main {
        margin-left: 20px;
        margin-right: 0;
        width: 100%;
        max-width: none;

    }

    .inner.main .title-section {
        margin-right: 40px;
    }

    .swiper-button-next {
        right: 28px;
    }

    .event .swiper-wrapper .swiper-slide .text .mobile {
        display: inline;
    }

    .event .swiper-wrapper .swiper-slide .text span {
        display: none;
    }

    .event .swiper-wrapper .swiper-slide .text strong {
        font-size: 24px;
    }

    .footer-nav .link-list ul .flex-wrap a span {
        display: block;
        white-space: nowrap;
    }

}

@media screen and (max-width: 886px) {


    .text,
    strong {
        -webkit-line-clamp: 1;
    }

    .recent-search-link {
        max-width: 309px;
        width: calc(100% - 40px);
        height: 87px;
        padding: auto;
    }

    .recent-search-link a {
        display: none;
    }

    .recent-search-link .text {
        flex-direction: column;
    }

    .recent-search-link .text .detail {
        gap: 0;
    }

    .guest-number {
        display: none;
    }

    .s2 {
        display: none;
    }

    .main-visual .main-visual-text .search-section .search-category {
        width: 75.56%;
    }


    .black-pick .swiper-wrapper .swiper-slide .text .lg3 {
        font-size: 18px;
    }

    .black-pick .swiper-wrapper .swiper-slide .text .lg2 {
        font-size: 20px;
    }



    .ad-app-download .inner {}

    .ad-app-download .inner .image {}

    .ad-app-download .inner img {
        height: 100%;

    }

    .ad-app-download .text img {
        display: none;
    }

    .ad-app-download .text .btn-app-download {
        width: 130px;
        display: block;
    }

    .footer-nav {
        flex-direction: column;
        gap: 32px;
    }

    .footer-nav .cs-center {
        width: 100%;
    }

    .footer-nav .cs-center .btn {
        gap: 16px;
    }

    .footer-nav .cs-center .btn button {
        width: 46.64%
    }

    .footer-nav .link-list {
        flex-direction: column;
        justify-content: space-between;
        width: 95.20%;
        gap: 32px;
    }

    .footer-nav .link-list div {
        gap: 16px;
    }

    .footer-nav .link-list .footer-row1 {
        width: 100%;
    }

    .footer-nav .link-list ul {
        height: 248px;

    }

    .site-links .inner .link-list {
        column-gap: 0;

    }

    .site-links .inner .link-list li {
        min-width: 180px;
        width: 23.92%;
    }

    .info-wrap .legal-info {
        display: block;

    }

    .info-wrap .legal-info .sns {
        margin-top: 20px;
    }

    .event .swiper-wrapper .swiper-slide {
        flex-wrap: wrap;
        padding-top: 16px;
        max-width: 240px;
    }

    .event .swiper-wrapper .swiper-slide .swiper-slide-prev strong,
    .event .swiper-wrapper .swiper-slide .swiper-slide-next strong {
        font-size: 24px;
    }

    .event .swiper-wrapper .swiper-slide .text {
        padding-left: 0;
        text-align: center;
        width: 100%;

    }

    .event .swiper-wrapper .swiper-slide .image {
        width: 100%;
    }

}

@media screen and (max-width: 760px) {
    .hotels.popular .inner.main .tab-btn-down {
        display: block;
    }

    .hotels.popular .text p:nth-child(2) span.s1.none {
        display: none;
    }
}

@media screen and (max-width: 495px) {

    .text {
        min-height: 90px;
    }

    .text .event-detail.none {
        display: none;
    }

    .main-visual .main-visual-text .search-section .search-category .category-item img,
    .main-visual .main-visual-text .search-section .text .search-input .row2,
    .main-visual .main-visual-text .search-section .text .flight,
    .main-visual .main-visual-text .search-section .text .search-btn {
        display: none;
    }

    .recent-search .swiper-slide .text {
        flex-direction: column;
        justify-content: left;

    }

    .recent-search .swiper-slide .text .text-right .rate {
        margin-left: 0;
        justify-content: none;
    }

    .ad-membership .inner .text p,
    .ad-membership .inner .text u {
        display: none;
    }



}